* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
:root {
  --color-primary: #191d2b;
  --color-secondary: #e0ba4f;
  --color-hover: #e3c285;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 0.875rem;
  --box-shadow-1: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.3);
}
.light-mode {
  --color-primary: #f7fbf3;
  --color-secondary: #6685f5;
  --color-hover: #3f68fe;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f2eaea;
  --color-grey-6: #12181b;
}

/*Editing within HTML FILE*/
html {
  scroll-behavior: smooth;
}

/*----------------------------------------Scroll-Bar Animation---------------------------------------*/
::-webkit-scrollbar {
  width: 0;
}
#scroll-path {
  position: fixed;
  top: 10%;
  right: 0;
  width: 0.5rem;
  background: var(--color-primary);
}
#progress-bar {
  position: fixed;
  top: 10%;
  right: 0;
  width: 0.5rem;
  background: var(--color-secondary);
  animation: animate 5s linear;
}
@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

a {
  text-decoration: none;
}
/*--------------------------------------------Top Bar--------------------------------------------------*/
.top-bar {
  display: flex;
  background-color: var(--color-primary);
  padding: 0.5rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.top-bar .link-home {
  font-size: 1.5rem;
  color: var(--color-secondary);
  margin: 0.7rem 8.5rem 0.7rem 0rem;
  border: 0.1rem solid var(--color-white);
  border-radius: 1rem;
  padding: 0.3rem 0.75rem;
  text-transform: uppercase;
  font-weight: 800;
}
.top-bar .link-home:hover {
  color: var(--color-white);
  border: 0.1rem solid var(--color-secondary);
  transition-delay: 0.3s;
}
.top-bar .links {
  margin: 1rem 0rem 1rem 0rem;
  color: var(--color-secondary);
  margin-left: 1rem;
  font-size: 1.5rem;
}
.top-bar .links:hover {
  color: var(--color-white);
  transition-delay: 0.15s;
}
.top-bar .signup {
  margin-left: 2rem;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.top-bar .signup:hover {
  background-color: var(--color-primary);
  transition: 0.4s;
  color: var(--color-secondary);
}

/*-------------------------------------- Slideshow container------------------------------------------*/
.slideshow-container {
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  margin-bottom: -1.3rem;
  display: flex;
  z-index: 0;
  margin-bottom: 8.6rem;
}
.slideshow-container .content {
  text-align: center;
  margin-left: -25rem;
}
.slideshow-container .content h3 {
  padding-top: 9.5rem;
  font-size: 2.8rem;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  color: #fff;
}
.slideshow-container .content p {
  font-size: 1.6rem;
  color: #fff;
  padding: 0.5rem 0;
}
.slideshow-container .content .btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--color-secondary);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid transparent;
  cursor: pointer;
  font-size: 1.7rem;
}
.slideshow-container .content .btn:hover {
  background: transparent;
  border: 0.2rem solid var(--color-primary);
  color: #fff;
  transition-delay: 0.15s;
}
.slideshow-container img {
  height: 32rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin-bottom: -1.4rem;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 5.5rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  transition: 0.6s ease;
  border-radius: 0 0.1875rem 0.1875rem 0;
  user-select: none;
}
.prev {
  left: 0;
  border-radius: 0.1875rem 0 0 0.1875rem;
}
.next {
  right: 0;
  border-radius: 0.1875rem 0 0 0.1875rem;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot {
  cursor: pointer;
  height: 0.9375rem;
  width: 0.9375rem;
  margin: 0rem 0.125rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*-------------------------------------------DARK MODE BUTTON------------------------------------*/
.dark-mode-button {
  position: fixed;
  top: 88%;
  left: 93%;
  z-index: 1;
}
.dark-mode-button .btn {
  top: 85%;
  right: 3%;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.dark-mode-button .btn:active {
  transform: translateY(-0.1875rem);
}
.dark-mode-button .btn:hover {
  background-color: var(--color-hover);
}
.dark-mode-button .btn i {
  font-size: 1.4rem;
  color: red;
  pointer-events: none;
}

/*-----------------------------------------------SEARCH-----------------------------------------*/
.search-bar {
  padding: 5rem 0rem 0rem 0rem;
  background-color: var(--color-primary);
  text-align: center;
}
.search-bar .heading {
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-secondary);
}
.search-bar .heading p {
  font-size: 1.9rem;
}
.search-bar .search {
  padding: 2rem;
  padding-left: 8rem;
  display: flex;
}
.search-bar .search input {
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.search-bar .search select {
  font-size: 2.2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

.search-bar .submit {
  font-size: 1.8rem;
  border-radius: 0.625rem;
  padding: 0.4rem 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: transparent;
  cursor: pointer;
}
.search-bar .submit:hover {
  background-color: transparent;
  color: var(--color-secondary);
  transition-delay: 0.15s;
  border: 0.1rem solid var(--color-secondary);
}
/*------------------------------------------benefits-section---------------------------------------*/
.content-section {
  padding-top: 5rem;
  background-color: var(--color-primary);
  padding-left: 2rem;
  padding-right: 2rem;
}
.content-section .heading {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-secondary);
}
.content-section .benefits {
  padding-top: 2.5rem;
  font-size: large;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: var(--color-white);
}
.content-section .benefits .documents,
.city-tour,
.tickets,
.transfers,
.sanity,
.budget,
.agents,
.support {
  border: var(--color-secondary);
  border-radius: 0.0125rem;
  border-style: solid;
  padding: 0.5rem;
  box-shadow: 0 0.0875rem 0.5375rem var(--color-grey-1);
  margin: 1rem;
  cursor: pointer;
  transition: all 1s ease 0s;
}
.content-section .benefits .documents:hover,
.city-tour:hover,
.tickets:hover,
.transfers:hover,
.sanity:hover,
.budget:hover,
.agents:hover,
.support:hover {
  transform: translateY(0.625rem);
}
.content-section .benefits i {
  margin-top: 1rem;
}
.content-section .benefits h4 {
  font-size: 1.5rem;
  color: var(--color-white);
}
.content-section .benefits p {
  padding: 0rem 3rem;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  color: var(--color-grey-2);
}

/*--------------------------------------------Explore Packages---------------------------------------*/
.explore {
  background-color: var(--color-primary);
  padding: 5rem 5rem 0rem 5rem;
}
.explore .heading {
  font-size: 1rem;
  color: var(--color-secondary);
}
.contents .row1,
.row2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  padding-left: 1rem;
}
.contents img {
  width: 14rem;
  height: 9rem;
  border-radius: 5%;
  transition: all 0.4s ease-in-out;
  filter: brightness(1);
}
.contents img:hover {
  width: 14.5rem;
  height: 9.5rem;
  border-radius: 5%;
  cursor: pointer;
  z-index: -1;
  filter: brightness(1.25);
}
.contents .hover-items h3 {
  color: var(--color-grey-1);
}
.contents .hover-items p {
  color: var(--color-grey-2);
  font-size: 0.75rem;
}
.contents .explore-buttons button {
  display: inline;
  margin-top: 0.15rem;
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: 0.5rem 1rem;
  border: 0.2rem solid var(--color-primary);
  cursor: pointer;
  font-size: 0.75rem;
}
.contents .explore-buttons button:hover {
  background: transparent;
  color: var(--color-secondary);
  transition-delay: 0.15s;
  border: 0.1rem solid var(--color-secondary);
}
/*---------------------------------------------high-demand-------------------------------------------*/
.high-demand {
  background-color: var(--color-primary);
  padding: 5rem 5rem 0rem 5rem;
  text-align: center;
}
.high-demand .row1,
.row2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  padding-left: 1rem;
}
.high-demand img {
  width: 14rem;
  height: 9rem;
  border-radius: 5%;
  transition: all 0.4s ease-in-out;
  filter: brightness(1);
}
.high-demand img:hover {
  width: 14.5rem;
  height: 9.5rem;
  border-radius: 5%;
  cursor: pointer;
  z-index: -1;
  filter: brightness(1.15);
}

.high-demand h1 {
  color: var(--color-secondary);
  font-size: 2.5rem;
}

.high-demand h3 {
  color: var(--color-grey-1);
}
.high-demand p {
  color: var(--color-grey-2);
  font-size: 0.75rem;
}
.high-demand button {
  font-size: 0.8rem;
  border-radius: 0.625rem;
  padding: 0.4rem 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 0.2rem solid var(--color-primary);
  cursor: pointer;
}
.high-demand button:hover {
  background-color: transparent;
  color: var(--color-secondary);
  border: 0.1rem solid var(--color-secondary);
  transition-delay: 0.15s;
}
/*-------------------------------------------------THEMES---------------------------------------------*/
.themes {
  background-color: var(--color-primary);
  padding: 5rem 5rem 0rem 5rem;
  text-align: center;
}
.themes .row1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  padding-left: 1rem;
}
.themes img {
  width: 14rem;
  height: 9rem;
  border-radius: 5%;
  transition: all 0.4s ease-in-out;
  filter: brightness(1);
}
.themes img:hover {
  width: 14.5rem;
  height: 9.5rem;
  border-radius: 5%;
  cursor: pointer;
  z-index: -1;
  filter: brightness(1.15);
}
.themes h1 {
  color: var(--color-secondary);
  font-size: 2.5rem;
}
.themes h3 {
  color: var(--color-grey-1);
}
.themes .col button {
  font-size: 0.75rem;
  border-radius: 0.625rem;
  padding: 0.4rem 1rem;
  margin-top: 0.1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 0.2rem solid var(--color-primary);
  cursor: pointer;
}
.themes .col button:hover {
  background-color: transparent;
  color: var(--color-secondary);
  transition-delay: 0.15s;
  border: 0.1rem solid var(--color-secondary);
}

/*-------------------------------------------------Reviews----------------------------------------------*/
.reviews {
  background-color: var(--color-primary);
  padding: 5rem 5rem 0rem 5rem;
  text-align: center;
}
.reviews h1 {
  color: var(--color-secondary);
  font-size: 2.5rem;
}
.reviews .container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .container .slide-container {
  display: flex;
  position: relative;
}
.reviews .container .slide-container .slide {
  border-radius: 0.3125erm;
  background: #fff;
  box-shadow: 0 0.3125rem 0.625rem #333;
  width: 35rem;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  animation: slide 0.4s linear;
}
@keyframes slide {
  0% {
    transform: rotateX(90deg);
  }
}
.reviews .container .slide-container .slide > * {
  animation: slideContent 0.2s linear 0.4s backwards;
}
@keyframes slideContent {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.reviews .container .slide-container .slide .icon {
  position: absolute;
  top: 0.6rem;
  right: 0.9rem;
  font-size: 6rem;
  color: var(--color-secondary);
}
.reviews .container .slide-container .slide img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.6rem;
}
.reviews .container .slide-container .slide .user {
  display: flex;
  align-items: center;
}
.reviews .container .slide-container .slide .user .user-info h3 {
  color: var(--color-grey-3);
  font-size: 1.4rem;
}
.reviews .container .slide-container .slide .user .user-info .stars i {
  color: var(--color-secondary);
  font-size: 1rem;
}
.reviews .container .slide-container .slide .text {
  color: var(--color-grey-2);
  font-size: 0.9rem;
  padding-top: 0.95rem;
  font-style: italic;
}
.reviews .container .slide-container {
  display: none;
}
.reviews .container .slide-container.active {
  display: block;
}
.reviews #next,
.reviews #prev {
  position: absolute;
  transform: translateY(-50%);
  margin-top: -8.5rem;
  height: 3.125rem;
  width: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  font-size: 1.25rem;
  background: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 50%;
  box-shadow: 0 0.3125rem 0.625rem var(--color-grey-3);
  cursor: pointer;
}
.reviews #next {
  right: 16rem;
}
.reviews #prev {
  left: 16rem;
}
.reviews #next:hover,
.reviews #prev:hover {
  background: var(--color-primary);
  color: var(--color-secondary);
}
/*------------------------------------Newsletter-------------------------------------------------*/
.newsletter {
  background-color: var(--color-primary);
  padding: 5rem 5rem 0rem 5rem;
  text-align: center;
}
.newsletter h1 {
  font-size: 2.5rem;
  color: var(--color-secondary);
}
.newsletter h3 {
  color: var(--color-grey-1);
}
.newsletter .details {
  padding: 1rem;
}
.newsletter .details input {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 10rem;
}
.newsletter .details .submit {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: var(--color-secondary);
  border: transparent;
  cursor: pointer;
  border-radius: 10rem;
}
.newsletter .details .submit:hover {
  background-color: transparent;
  color: var(--color-secondary);
  transition-delay: 0.15s;
  border: 0.1rem solid var(--color-secondary);
}

/*------------------------------frequently asked questions-----------------------------------------*/
.faq {
  background-color: var(--color-primary);
  padding: 5rem 5rem 0rem 5rem;
  margin-bottom: -2rem;
}
.faq h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-secondary);
  padding-top: 1rem;
}
.section-center {
  width: 40rem;
  margin: 0 auto;
  max-width: 70rem;
}
.question {
  background: var(--color-grey-5);
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 1rem 1rem 0 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--color-grey-1);
  font-size: 1rem;
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--color-grey-1);
  transition: var(--transition);
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 0.0625rem solid var(--color-grey-3);
  color: var(--color-grey-2);
}
.question-text p {
  margin-bottom: 0;
  font-size: 1rem;
}
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

/*-----------------------------------------footer-up---------------------------------------------*/
.footer-up {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--color-primary);
  padding: 1.5rem;
  padding-top: 5rem;
  padding-left: 5.5rem;
}
.footer-up .quicklinks h2,
.locations h2,
.contact-us h2,
.follow-us h2 {
  color: var(--color-secondary);
  margin-bottom: 1rem;
  text-align: start;
}
.footer-up p {
  text-align: start;
  color: var(--color-grey-1);
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.footer-up p:hover {
  transform: translateX(2rem);
}
.footer-up .follow-us ul {
  color: var(--color-grey-1);
  text-align: start;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-right: 11rem;
}
.footer-up .follow-us ul a {
  font-size: 1.1rem;
  color: var(--color-grey-1);
}
.footer-up .follow-us ul:hover {
  transform: translateX(2rem);
}

/*----------------------------------------footer-down--------------------------------------------*/
.footer-down {
  text-align: center;
  background-color: var(--color-secondary);
  padding: 1rem;
}

/*------------------------------------------PLANS PAGE------------------------------------------*/
.plans-heading {
  padding-top: 1rem;
  text-align: center;
  background-color: var(--color-primary);
}
.plans-heading .heading h1 {
  color: var(--color-secondary);
  font-size: 1.8rem;
}
.plans-heading .heading h3 {
  color: var(--color-secondary);
  font-size: 3.6rem;
}
.main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: start;
  padding: 3rem;
}
.main-section .container-1,
.container-2,
.container-3 {
  border: var(--color-secondary);
  border-radius: 0.125rem;
  border-style: solid;
  padding: 3rem;
  box-shadow: 0 0.1875rem 0.9375rem var(--color-grey-1);
  margin: 1rem;
}
.main-section .container-1,
.container-2,
.container-3 h1 {
  font-size: 3rem;
  color: var(--color-grey-1);
  padding-bottom: 0.5rem;
}
.main-section .container-1,
.main-section .container-2,
.container-3 ul {
  font-size: 1.5rem;
  color: var(--color-grey-2);
}
.main-section ul li {
  padding: 0.5rem;
}
.main-section .line {
  font-size: 2rem;
  color: var(--color-grey-1);
}
.main-section .container-1 {
  margin-bottom: 2rem;
}
.main-section .container-2 {
  margin-bottom: 2rem;
}
.main-section .container-3 {
  margin-bottom: 2rem;
}
.main-section .payment-container {
  display: flex;
  text-align: center;
  align-items: center;
}
.payment-container button {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--color-secondary);
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 10rem;
  color: var(--color-primary);
}
.payment-container button:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
.payment-container p {
  font-size: 1.1rem;
  color: var(--color-grey-2);
}
.footer-up {
  text-align: center;
}

/*------------------------------------------CONTACT PAGE------------------------------------------*/
.contact-container .contact-heading {
  padding: 1rem;
  background-color: var(--color-primary);
  text-align: center;
}
.contact-container .contact-heading h5 {
  font-size: 1.8rem;
  color: var(--color-secondary);
}
.contact-container .contact-heading h2 {
  color: var(--color-secondary);
  font-size: 3.6rem;
}
.contact-container .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 2rem;
  background-color: var(--color-primary);
}
.contact-container .row .col-1,
.col-2 {
  height: 35rem;
  border: var(--color-secondary);
  border-radius: 0.125rem;
  border-style: solid;
  padding: 3rem;
  box-shadow: 0 0.1875rem 0.9375rem var(--color-grey-1);
  margin: 1rem;
}
.contact-container .row .col-1 .contact-form {
  display: inline;
  margin-bottom: 1rem;
}
.contact-container .row .col-1 .contact-form .input {
  margin-bottom: 1rem;
}
.contact-container .row .col-1 .contact-form .input .enter,
.contact-container .row .col-1 .contact-form textarea {
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-right: 20rem;
  width: 100%;
}
.contact-container .row .col-1 .contact-form .submit {
  margin-top: 1rem;
  text-align: center;
}
.contact-container .row .col-1 .contact-form .submit button {
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
  text-align: center;
  background-color: var(--color-secondary);
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10rem;
  color: var(--color-primary);
}
.contact-container .row .col-1 .contact-form .submit button:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
.contact-container .row .col-2 {
  text-align: center;
}
.contact-container .row .col-2 h5 {
  color: var(--color-grey-1);
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.contact-container .row .col-2 p {
  color: var(--color-grey-2);
  font-size: 1rem;
  padding-top: 1rem;
}
.contact-container .row .col-2 img {
  width: 28rem;
  border: var(--color-secondary);
  border-radius: 0.125rem;
  border-style: solid;
  height: 18rem;
}

/*-------------------------------------------------------RESPONSIVE CODE-----------------------------------------------------------*/

@media screen and (max-width: 1250px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 58%;
  }
}
@media screen and (max-width: 660px) {
  html {
    font-size: 44.5%;
  }
  .top-bar .link-home {
    margin-right: 14rem;
  }
  .high-demand .row1,
  .high-demand .row2,
  .themes .row1,
  .content-section .benefits,
  .faq,
  .reviews {
    font-size: 150%;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 545px) {
  html {
    font-size: 34.5%;
  }
  .high-demand .row1,
  .high-demand .row2,
  .themes .row1,
  .content-section .benefits,
  .faq {
    font-size: 180%;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 1rem;
  }
  .main-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .content-section .benefits {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 15rem 0 15rem;
  }
  .explore .contents .row1,
  .row2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .content-section .heading,
  .faq h1,
  .reviews h1 {
    font-size: 280%;
  }
  .content-section .benefits h4 {
    font-size: 150%;
  }
  .content-section .benefits p {
    font-size: 150%;
  }
  .popular .high-demand h1,
  .themes h1 {
    font-size: 480%;
  }
  .popular .high-demand img,
  .themes .col img,
  .explore .contents .col img {
    width: 42rem;
    height: 27rem;
  }
  .popular .high-demand h3,
  .themes h3,
  .explore .contents h3 {
    font-size: 250%;
  }
  .newsletter h1 {
    font-size: 150%;
  }
  .newsletter {
    font-size: 250%;
  }
  .faq p {
    font-size: 180%;
  }
  .faq .section-center {
    width: 55rem;
    margin: 0 auto;
    max-width: 90rem;
  }
  .reviews .container .slide-container .slide {
    width: 55rem;
  }
  .reviews #next,
  .reviews #prev {
    margin-top: -9.5rem;
  }
  .reviews #next {
    right: 8rem;
  }
  .reviews #prev {
    left: 8rem;
  }
  .reviews .container .slide-container .slide .text {
    font-size: 90%;
  }
  .popular .high-demand p,
  .popular .high-demand button,
  .themes .theme-places button,
  .explore .contents p,
  .explore .contents button {
    font-size: 150%;
  }
  .popular .high-demand .col,
  .themes .col,
  .explore .contents .col {
    padding-bottom: 1rem;
  }
  .popular .high-demand .row2 {
    margin-top: -2rem;
  }
  .explore .contents .row2 {
    margin-top: -1rem;
  }
  .explore .heading h2 {
    font-size: 380%;
  }
  .explore {
    text-align: center;
  }
}

/*@media screen and (max-width: 440px) {
  html {
    font-size: 28.5%;
  }
  .high-demand .row1,
  .high-demand .row2,
  .themes .row1,
  .content-section .benefits {
    font-size: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-section {
    grid-template-columns: repeat(1, 1fr);
  }
}*/
