* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
:root {
  --color-primary: #f7fbf3;
  --color-secondary: #6685f5;
  --color-hover: #3f68fe;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f2eaea;
  --color-grey-6: #12181b;
  --br-sm-2: 0.875rem;
  --box-shadow-1: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.3);
}

.dark-mode {
  --color-primary: #191d2b;
  --color-secondary: #e0ba4f;
  --color-hover: #e3c285;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
}

/*Scroll-Bar Animation*/
::-webkit-scrollbar {
  width: 0;
}
#scroll-path {
  position: fixed;
  top: 10%;
  right: 0;
  width: 0.5rem;
  background: var(--color-primary);
}
#progress-bar {
  position: fixed;
  top: 10%;
  right: 0;
  width: 0.5rem;
  background: var(--color-secondary);
  animation: animate 5s linear;
}
@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

a {
  text-decoration: none;
}
/*Top Bar*/
.top-bar {
  display: flex;
  background-color: var(--color-primary);
  padding: 0.5rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
.top-bar .link-home {
  margin-top: 1rem;
  padding-right: 22rem;
  font-size: 1.5rem;
  color: var(--color-secondary);
  font-family: "Playfair Display", serif;
}
.top-bar .logo {
  height: 3.5rem;
}
.top-bar select {
  margin-top: 1rem;
  padding: 0.1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: var(--color-secondary);
  cursor: pointer;
  background-color: aliceblue;
}
.top-bar .links {
  margin-top: 1rem;
  color: var(--color-secondary);
  padding-left: 2rem;
  font-size: 1.5rem;
}
.top-bar .signup {
  margin-left: 2rem;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.top-bar .signup:hover {
  background-color: var(--color-primary);
  transition: 0.4s;
  color: var(--color-secondary);
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-bottom: -1.3rem;
}
.slideshow-container img {
  height: 25rem;
  width: 100%;
  position: relative;
  z-index: -1;
  margin-bottom: -1.4rem;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.375rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  transition: 0.6s ease;
  border-radius: 0 0.1875rem 0.1875rem 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.1875rem 0 0 0.1875rem;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.9375rem;
  width: 0.9375rem;
  margin: 0rem 0.125rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*DARK MODE BUTTON*/
.dark-mode-button {
  position: fixed;
  top: 88%;
  left: 93%;
  z-index: 1;
}
.dark-mode-button .btn {
  top: 85%;
  right: 3%;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.dark-mode-button .btn:active {
  transform: translateY(-0.1875rem);
}
.dark-mode-button .btn:hover {
  background-color: var(--color-hover);
}
.dark-mode-button .btn i {
  font-size: 1.4rem;
  color: red;
  pointer-events: none;
}

/*SEARCH*/
.search-bar {
  padding: 1rem;
  background-color: var(--color-primary);
  text-align: center;
}
.search-bar .heading {
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-secondary);
}
.search-bar .heading p {
  font-size: 1.9rem;
}
.search-bar .search {
  padding: 2rem;
  padding-left: 10rem;
  display: flex;
}
.search-bar .search input {
  font-size: 2rem;
}
.search-bar .search select {
  font-size: 2.2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.search-bar .submit {
  font-size: 1.8rem;
  border-radius: 0.625rem;
  padding: 0.4rem 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  cursor: pointer;
}
.search-bar .submit:hover {
  background-color: var(--color-hover);
  color: var(--color-primary);
}
/*content-section*/
.content-section {
  padding: 1rem;
  padding-top: -1rem;
  background-color: var(--color-primary);
}
.content-section .heading {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-secondary);
}
.content-section .benefits {
  padding-top: 2rem;
  font-size: large;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: var(--color-white);
}
.content-section .benefits .documents i {
  color: var(--color-white);
}
.content-section .benefits h4 {
  font-size: 1.5rem;
  color: var(--color-white);
}
.content-section .benefits p {
  padding: 0rem 5rem;
  font-size: 0.8rem;
  padding-bottom: 1rem;
  color: var(--color-grey-2);
}

/*Explore Packages*/
.explore {
  background-color: var(--color-primary);
  padding: 1.5rem;
}
.explore .heading {
  font-size: 1rem;
  color: var(--color-secondary);
}
.contents .row1, .row2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  padding-left: 1rem;
}
.contents img {
  width: 14rem;
  height: 9rem;
  border-radius: 5%;
  transition: all 0.4s ease-in-out;
  filter: brightness(1);
}
.contents img:hover {
  width: 14.5rem;
  height: 9.5rem;
  border-radius: 5%;
  cursor: pointer;
  z-index: -1;
  filter: brightness(1.25);
}
.contents .hover-items h3 {
  color: var(--color-grey-1);
}
.contents .hover-items p {
  color: var(--color-grey-2);
  font-size: 0.75rem;
}
/*high-demand*/

.high-demand {
  background-color: var(--color-primary);
  padding: 1.5rem;
  text-align: center;
}

.high-demand .row1,
.row2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  padding-left: 1rem;
}

.high-demand img {
  width: 14rem;
  height: 9rem;
  border-radius: 5%;
  transition: all 0.4s ease-in-out;
  filter: brightness(1);
}

.high-demand img:hover {
  width: 14.5rem;
  height: 9.5rem;
  border-radius: 5%;
  cursor: pointer;
  z-index: -1;
  filter: brightness(1.15);
}

.high-demand h1 {
  color: var(--color-secondary);
}

.high-demand h3 {
  color: var(--color-grey-1);
}

/*THENES*/
.themes {
  background-color: var(--color-primary);
  padding: 1.5rem;
  text-align: center;
}

.themes .row1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  padding-left: 1rem;
}
.themes img {
  width: 14rem;
  height: 9rem;
  border-radius: 5%;
  transition: all 0.4s ease-in-out;
  filter: brightness(1);
}
.themes img:hover {
  width: 14.5rem;
  height: 9.5rem;
  border-radius: 5%;
  cursor: pointer;
  z-index: -1;
  filter: brightness(1.15);
}
.themes h1 {
  color: var(--color-secondary);
}

.themes h3 {
  color: var(--color-grey-1);
}

/*Reviews*/

.reviews {
  background-color: var(--color-primary);
  padding: 1rem;
  text-align: center;
}
.reviews h1 {
  color: var(--color-secondary);
}
.reviews .container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .container .slide-container {
  display: flex;
  position: relative;
}
.reviews .container .slide-container .slide {
  border-radius: 0.3125erm;
  background: #fff;
  box-shadow: 0 0.3125rem 0.625rem #333;
  width: 35rem;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  animation: slide 0.4s linear;
}
@keyframes slide {
  0% {
    transform: rotateX(90deg);
  }
}
.reviews .container .slide-container .slide > * {
  animation: slideContent 0.2s linear 0.4s backwards;
}
@keyframes slideContent {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.reviews .container .slide-container .slide .icon {
  position: absolute;
  top: 0.6rem;
  right: 0.9rem;
  font-size: 6rem;
  color: var(--color-secondary);
}
.reviews .container .slide-container .slide img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.6rem;
}
.reviews .container .slide-container .slide .user {
  display: flex;
  align-items: center;
}
.reviews .container .slide-container .slide .user .user-info h3 {
  color: var(--color-grey-3);
  font-size: 1.4rem;
}
.reviews .container .slide-container .slide .user .user-info .stars i {
  color: var(--color-secondary);
  font-size: 1rem;
}
.reviews .container .slide-container .slide .text {
  color: var(--color-grey-2);
  font-size: 0.9rem;
  padding-top: 0.95rem;
  font-style: italic;
}
.reviews .container .slide-container {
  display: none;
}
.reviews .container .slide-container.active {
  display: block;
}
.reviews #next,
.reviews #prev {
  position: absolute;
  z-index: 2;
  transform: translateY(-50%);
  margin-top: -11rem;
  height: 3.125rem;
  width: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  font-size: 1.25rem;
  background: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 50%;
  box-shadow: 0 0.3125rem 0.625rem var(--color-grey-3);
  cursor: pointer;
}
.reviews #next {
  right: 16rem;
}
.reviews #prev {
  left: 16rem;
}
.reviews #next:hover,
.reviews #prev:hover {
  background: var(--color-primary);
  color: var(--color-secondary);
}
/*Newsletter*/
.newsletter {
  background-color: var(--color-primary);
  padding: 1.5rem;
  text-align: center;
}
.newsletter h1 {
  color: var(--color-secondary);
}
.newsletter h3 {
  color: var(--color-grey-1);
}
.newsletter .details {
  padding: 1rem;
}
.newsletter .details input {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 10rem;
}
.newsletter .details .submit {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: var(--color-secondary);
  cursor: pointer;
  border-radius: 10rem;
}
.newsletter .details .submit:hover {
  background-color: var(--color-hover);
}
/*footer-up*/
.footer-up {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--color-primary);
  padding: 1.5rem;
}
.footer-up .quicklinks h2,
.locations h2,
.contact-us h2,
.follow-us h2 {
  color: var(--color-secondary);
}
.footer-up .quicklinks p,
.locations p,
.contact-us p {
  color: var(--color-grey-1);
}
.footer-up .follow-us ul {
  color: var(--color-grey-1);
}
.footer-up .follow-us ul a {
  font-size: 1.1rem;
  color: var(--color-grey-1);
}

/*footer-down*/
.footer-down {
  text-align: center;
  background-color: var(--color-secondary);
  padding: 1rem;
}

/*------------------------------------------PLANS PAGE------------------------------------------*/
.plans-heading {
  padding-top: 1rem;
  text-align: center;
  background-color: var(--color-primary);
}
.plans-heading .heading h1 {
  color: var(--color-secondary);
  font-size: 1.8rem;
}
.plans-heading .heading h3 {
  color: var(--color-secondary);
  font-size: 3.6rem;
}
.main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: start;
  padding: 3rem;
}
.main-section .container-1,
.container-2, .container-3 {
  border: var(--color-secondary);
  border-radius: 0.125rem;
  border-style: solid;
  padding: 3rem;
  box-shadow: 0 0.1875rem 0.9375rem var(--color-grey-1);
  margin: 1rem;
}
.main-section .container-1,
.container-2, .container-3  h1{
  font-size: 3rem;
  color: var(--color-grey-1);
  padding-bottom: 0.5rem;
}
.main-section .container-1,
.main-section .container-2, .container-3  ul{
  font-size: 1.5rem;
  color: var(--color-grey-2);
}
.main-section ul li{
  padding: 0.5rem;
}
.main-section .line{
  font-size: 2rem;
  color: var(--color-grey-1);
}
.main-section .container-1 {
  margin-bottom: 2rem;
}
.main-section .container-2 {
  margin-bottom: 2rem;
}
.main-section .container-3 {
  margin-bottom: 2rem;
}
.main-section .payment-container{
  display: flex;
  text-align: center;
  align-items: center;
}
.payment-container button{
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--color-secondary);
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 10rem;
  color: var(--color-primary);
}
.payment-container button:hover{
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
.payment-container p{
  font-size: 1.1rem;
  color: var(--color-grey-2);
}
.footer-up{
  text-align: center;
}

/*-------------------------------------------------------RESPONSIVE CODE-----------------------------------------------------------*/
@media (max-width: 998px) {
}
@media (max-width: 768px) {
}


@media screen and (max-width: 1250px) {
  html{
    font-size: 100%;
  }
}

@media screen and (max-width: 960px) {
  html{
    font-size: 58%;
  }
}

@media screen and (max-width: 660px) {
  html {
    font-size: 44.5%;
  }
  .high-demand .row1,
  .high-demand .row2,
  .themes .row1,
  .content-section .benefits {
    font-size: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-section{
    grid-template-columns: repeat(1, 1fr);
  }
}
  .explore .contents {
    font-size: 100%;
    grid-template-columns: repeat(7, 1fr);
  }
}
@media screen and (max-width: 1070px) {
}
@media screen and (max-width: 970px) {
}
@media screen and (max-width: 700px) {
}
